button {
    background-color: rgb(207, 43, 193);
    border: none;
    color: rgb(5, 0, 0);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
 }